{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>Корзина</title>
{% endblock %}

{% block content %}
    <div class="basket_list">
        {% include 'basketapp/includes/inc_basket_list.html' %}
    </div>
    <button class="btn btn-round">
        <a href="{% url 'main' %}">на главную</a>
    </button>
    {{ static }}
{% endblock %}

{% block js %}
    <script src="{% static 'mainapp/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'mainapp/js/basket_scripts.js' %}"></script>
{% endblock %}