<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static '/mainapp/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.min.css' %}" >
    {% endblock %}
</head>
<body>
    {% include 'mainapp/includes/inc_menu.html' %}

    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>
</html>