{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Продукты</title>
{% endblock %}

{% block content %}
    <h1>Категории</h1>
        {% include 'mainapp/includes/inc_category_menu.html' %}

    <h1>Продукты</h1>
        <ul>
            {% for product in products %}
                <li>
                    {{ product.name }}
                    <a href="{% url 'basket:add' product.pk %}">Добавить в корзину</a>
                    <a href="{% url 'basket:remove' product.pk %}">Удалить с корзины</a>
                </li>
            {% endfor %}
        </ul>
    <p>Продаем жучков, не дорого!</p>
{% endblock %}